@model MvcOnlineTicariOtomasyon.Models.Classes.InvoiceItem
@{
    ViewBag.Title = "NewItemtoInvoice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Kalem Girişi</h2>
<br />

<form class="form-group" method="post">
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.InvoiceItemsExplanation, new { @class = "form-control" })
    <br />
    @Html.Label("Miktar")
    @Html.TextBoxFor(x => x.InvoiceItemsQuantity, new { @class = "form-control" })
    <br />
    @Html.Label("Birim Fiyat")
    @Html.TextBoxFor(x => x.InvoiceItemsUnitPrice, new { @class = "form-control" })
    <br />
    @Html.Label("Tutar")
    @Html.TextBoxFor(x => x.InvoiceItemsAmount, new { @class = "form-control" })
    <br />
    @Html.Label("Faturaid")
    @Html.TextBoxFor(x => x.InvoiceID, new { @class = "form-control" })
    <br />
   

    <button class="btn btn-primary">Kaydet</button>
</form>