
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gradient Able bootstrap admin template by codedthemes </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Gradient Able Bootstrap admin template made using Bootstrap 4. The starter version of Gradient Able is completely free for personal project." />
    <meta name="keywords" content="free dashboard template, free admin, free bootstrap template, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="codedthemes">
    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/web2/assets/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/web2/assets/icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/web2/assets/icon/font-awesome/css/font-awesome.min.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/web2/assets/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/web2/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/web2/assets/css/jquery.mCustomScrollbar.css">
</head>


    <body>
        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">

                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">

                        <div class="pcoded-content">
                            <div class="pcoded-inner-content">
                                <div class="main-body">
                                    <div class="page-wrapper">

                                        <div class="page-body">
                                            <div class="row">

                                                <!-- order-card start -->
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card bg-c-blue order-card">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">Toplam Cari</h6>
                                                            <h2 class="text-right"><i class="ti-user f-left"></i><span>@ViewBag.v1</span></h2>
                                                            <p class="m-b-0">Tanımlı Cariler<span class="f-right">351</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card bg-c-green order-card">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">Ürün Sayısı</h6>
                                                            <h2 class="text-right"><i class="ti-tag f-left"></i><span>@ViewBag.v2</span></h2>
                                                            <p class="m-b-0">This Month<span class="f-right">213</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card bg-c-yellow order-card">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">Personel Sayısı</h6>
                                                            <h2 class="text-right"><i class="ti-reload f-left"></i><span>@ViewBag.v3</span></h2>
                                                            <p class="m-b-0">This Month<span class="f-right">$5,032</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card bg-c-pink order-card">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">Kategori Sayısı</h6>
                                                            <h2 class="text-right"><i class="ti-wallet f-left"></i><span>@ViewBag.v4</span></h2>
                                                            <p class="m-b-0">This Month<span class="f-right">$542</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- order-card end -->


                                            </div>

                                            <div class="clearfix"></div>
                                            <div class="row">

                                                <!-- order-card start -->
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card  order-card" style="background-color: #2c2c54 !important;">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">Toplam Stok</h6>
                                                            <h2 class="text-right"><i class="ti-user f-left"></i><span>@ViewBag.v5</span></h2>
                                                            <p class="m-b-0">Tanımlı Cariler<span class="f-right">351</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card  order-card" style="background-color: #474787;">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">Marka Sayısı</h6>
                                                            <h2 class="text-right"><i class="ti-tag f-left"></i><span>@ViewBag.v6</span></h2>
                                                            <p class="m-b-0">This Month<span class="f-right">213</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card  order-card" style="background-color: #aaa69d;">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">Kritik Seviyedeki Ürünler</h6>
                                                            <h2 class="text-right"><i class="ti-reload f-left"></i><span>@ViewBag.v7</span></h2>
                                                            <p class="m-b-0">This Month<span class="f-right">$5,032</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card  order-card" style="background-color: #ffb142;">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">En Yüksek Fiyatlı Ürün</h6>
                                                            <h2 class="text-right"><i class="ti-wallet f-left"></i><span>@ViewBag.v8</span></h2>
                                                            <p class="m-b-0">This Month<span class="f-right">$542</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- order-card end -->


                                            </div>

                                            <div class="clearfix"></div>
                                            <div class="row">

                                                <!-- order-card start -->
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card  order-card" style="background-color: #ff5252;">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">En Düşük Fiyatlı Ürün</h6>
                                                            <h2 class="text-right"><i class="ti-user f-left"></i><span>@ViewBag.v9</span></h2>
                                                            <p class="m-b-0">Tanımlı Cariler<span class="f-right">351</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card  order-card" style="background-color: #ccae62;">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">En Fazla Ürünlü Marka</h6>
                                                            <h2 class="text-right"><i class="ti-tag f-left"></i><span>@ViewBag.v12</span></h2>
                                                            <p class="m-b-0">This Month<span class="f-right">213</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card  order-card" style="background-color: #b8e994">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">Buzdolabı Sayısı</h6>
                                                            <h2 class="text-right"><i class="ti-reload f-left"></i><span>@ViewBag.v10</span></h2>
                                                            <p class="m-b-0">This Month<span class="f-right">$5,032</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card  order-card" style="background-color: #6F1E51; ">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">Laptop Sayısı</h6>
                                                            <h2 class="text-right"><i class="ti-wallet f-left"></i><span>@ViewBag.v11</span></h2>
                                                            <p class="m-b-0">This Month<span class="f-right">$542</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- order-card end -->


                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="row">

                                                <!-- order-card start -->
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card  order-card" style="background-color: #55efc4;">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">En Çok Satılan Ürün</h6>
                                                            <h2 class="text-right"><i class="ti-user f-left"></i><span>@ViewBag.v13</span></h2>
                                                            <p class="m-b-0">Tanımlı Cariler<span class="f-right">351</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card  order-card" style="background-color: #d63031;">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">Kasadaki Tutar</h6>
                                                            <h2 class="text-right"><i class="ti-tag f-left"></i><span>@ViewBag.v14</span></h2>
                                                            <p class="m-b-0">This Month<span class="f-right">213</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card  order-card" style="background-color: #0984e3;">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">Bugünkü Satışlar</h6>
                                                            <h2 class="text-right"><i class="ti-reload f-left"></i><span>@ViewBag.v15</span></h2>
                                                            <p class="m-b-0">This Month<span class="f-right">$5,032</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-3">
                                                    <div class="card order-card" style="background-color: #00b894;">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20">Bugünkü Kasa</h6>
                                                            <h2 class="text-right"><i class="ti-wallet f-left"></i><span>@ViewBag.v16</span></h2>
                                                            <p class="m-b-0">This Month<span class="f-right"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- order-card end -->


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>


            <!-- Required Jquery -->
            <script type="text/javascript" src="~/web2/assets/js/jquery/jquery.min.js"></script>
            <script type="text/javascript" src="~/web2/assets/js/jquery-ui/jquery-ui.min.js"></script>
            <script type="text/javascript" src="~/web2/assets/js/popper.js/popper.min.js"></script>
            <script type="text/javascript" src="~/web2/assets/js/bootstrap/js/bootstrap.min.js"></script>
            <!-- jquery slimscroll js -->
            <script type="text/javascript" src="~/web2/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
            <!-- modernizr js -->
            <script type="text/javascript" src="~/web2/assets/js/modernizr/modernizr.js"></script>
            <!-- am chart -->
            <script src="~/web2/assets/pages/widget/amchart/amcharts.min.js"></script>
            <script src="~/web2/assets/pages/widget/amchart/serial.min.js"></script>
            <!-- Chart js -->
            <script type="text/javascript" src="~/web2/assets/js/chart.js/Chart.js"></script>
            <!-- Todo js -->
            <script type="text/javascript " src="~/web2/assets/pages/todo/todo.js "></script>
            <!-- Custom js -->
            <script type="text/javascript" src="~/web2/assets/pages/dashboard/custom-dashboard.min.js"></script>
            <script type="text/javascript" src="~/web2/assets/js/script.js"></script>
            <script type="text/javascript " src="~/web2/assets/js/SmoothScroll.js"></script>
            <script src="~/web2/assets/js/pcoded.min.js"></script>
            <script src="~/web2/assets/js/vartical-demo.js"></script>
            <script src="~/web2/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    </body>

</html>


