@model MvcOnlineTicariOtomasyon.Models.Classes.Employee
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Personel Sayfası</h2>
<br />

<form class="form-group" method="post">
    @Html.Label("Personel Adı")
    @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Soyadı")
    @Html.TextBoxFor(x => x.EmployeeSurname, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Görsel")
    @Html.TextBoxFor(x => x.EmployeeImage, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Departman")
    @Html.DropDownListFor(x => x.Departmentid, (List<SelectListItem>)ViewBag.vl1, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">Kaydet</button>
</form>



